@media (max-width:576px){
    .content--aside{
        width: 100%;
    }
    .content--aside h3{
        background-color: saddlebrown;
    }
    .head--nav a{
        display: none;
    }
    .head--nav--icon{
        display: block;
    }
    .head{
     flex-wrap:wrap;
    min-height: auto;
    }

   .head .head -- Logo{
    width: 100%;
    padding: 10px 0;}

   .head .head -- nav{
    width: 100%;
    order:3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

   .head .head -- nav a{
padding: 10px 0;
 border-top:1px solid white;
border-bottom:1px solid white;}

   .head -- nav -- icon{
display: block;
width: 20%;
order:2;
cursor: pointer;}

   .content -- aside{
width: 100%;}

   .content -- main{
width: 100%;}
}